@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --lexend-deca: 'Big Shoulders Display', cursive;
    --big-shoulders-display: 'Lexend Deca', sans-serif;

}

body{
    font-size: 15px;
    background-color: var(--very-light-gray);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 20px;
}

.sedans{
    background-color: var(--bright-orange);
    max-width: 375px;
    height: 380px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 40px;
    position: relative;
    border-radius: 10px 10px 0 0;

}

.suv{
    background-color: var(--dark-cyan);
    max-width: 375px;
    height: 380px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 40px;
    position: relative;

}

.luxury{
    background-color: var(--very-dark-cyan);
    max-width: 375px;
    height: 380px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 40px;
    position: relative;
    border-radius: 0 0 10px 10px;

}

h1{
    font-family: var(--lexend-deca);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--very-light-gray);
}

p{
    color: var(--transparent-white);
    font-family: var(--big-shoulders-display);
    line-height: 1.5em;
}

button{
    background-color: var(--very-light-gray);
    font-family: var(--big-shoulders-display);
    padding: 15px 5px;
    border: 0;
    border-radius: 20px;
    width: 145px;
    position: absolute;
    bottom: 40px;
}

.sedans button{
    color: var(--bright-orange);
}

.suv button{
    color: var(--dark-cyan);
}

.luxury button{
    color: var(--very-dark-cyan);
}

.sedans button:hover{
    background-color: var(--bright-orange);
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray); 
}

.suv button:hover{
    background-color: var(--dark-cyan);
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray); 
}

.luxury button:hover{
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray); 
}

@media screen and (min-width:1024px){

    main{
        height: 100vh;
    }
    
    .cards{
        flex-direction: row;
    }

    .sedans, .suv, .luxury{
    max-width: 200px;

    }

    .sedans{
        border-radius: 10px 0 0 10px;
    }

    .luxury{
        border-radius: 0 10px 10px 0;
    }
}